@import 'mixin';
@import 'variables';
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

input {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

svg path {
    fill: inherit;
    stroke: inherit;
}

.btn {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: unset;
    cursor: pointer;
}


.title {
    @include fontHeader;
}

.text {
    @include fontParagraph;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''), url('./fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('./fonts/Montserrat-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''), url('./fonts/Montserrat-Bold.woff2') format('woff2'), url('./fonts/Montserrat-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''), url('./fonts/Montserrat-SemiBold.woff2') format('woff2'), url('./fonts/Montserrat-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''), url('./fonts/Montserrat-Regular.woff2') format('woff2'), url('./fonts/Montserrat-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''), url('./fonts/Montserrat-Medium.woff2') format('woff2'), url('./fonts/Montserrat-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}


.heading-unvisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    @include containerStyle
}

a:active,
a:focus {
    outline: none;
}

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

 :focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

button:active,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

.active {
    display: block;
}

.btnanim {
    position: relative;
    transition: transform, background-color, border-bottom, border;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.btnanim:hover {
    background-color: $colorBtnHover;
    border: 1px solid $colorBtn;
}

.btnanim::before {
    content: '';
    position: absolute;
    top: -9px;
    bottom: -9px;
    left: -9px;
    right: -9px;
    display: block;
    border-radius: 100px;
    border: 3px solid transparent;
    z-index: 5;
}

.btnanim:focus::before {
    border: 3px solid $colorBtn;
}

.btnanim:active {
    border: 1px solid $colorBtn;
    background-color: $colorBtnActive;
}

.btnanim:active::before {
    border: 3px solid transparent;
}

@media (max-width:690px) {
    .container {
        @include containerStyle320
    }
}