@import 'variables';
@import 'mixin';

.container.section-footer__container {
    padding-right: 20px;
}

.section-footer {
    padding-top: 70px;
    background-color: rgba(246, 246, 248, 1);
}

.footer_item-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.footer-header {
    padding-bottom: 32px;
    @include fontHeaderFooter
}

.footer_item {
    @include fontItemFooter
}

.item-unit_wrapper {
    padding-bottom: 28px;
}

.contacts-footer {
    margin-right: 17px;
}

.main-footer, .projects-footer, .social-footer {
    margin-right: 5px;
}

.item-unit {
    display: flex;
    cursor: pointer;
}

.item-unit__svg {
    stroke: $colorStroke
}

.item-unit, .item-unit__svg  {
    transition: color, stroke;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.item-unit:hover {
    color: $colorBtnHover;
}

.item-unit:hover .item-unit__svg {
    stroke: $colorBtnHover;
}

.item-unit:focus {
    color: $colorBtnFocus;
}

.item-unit:focus .item-unit__svg {
    fill: $colorBtnFocus;
    stroke: $colorBtnFocus;
}

.item-unit:active {
    color: $colorBtnActive;
}

.item-unit:active .item-unit__svg {
    fill: $colorBtnActive;
    stroke: $colorBtnActive;
}

.footer-subfooter {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 30px;
    padding-right: 30px;
    font: {
        family: 'Montserrat';
        size: 13px;
        weight: 400;
    }
    color: rgba(153, 153, 153, 1);
}

@media (max-width:1319px) {
    .footer_item-wrapper {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
    }

    .footer-group__projects {
        padding-right: 80px;
    }

    @media (max-width:590px) {
        .footer_item-wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4,1fr);
            justify-items: self-start;
        }
        .footer-group__projects {
            padding-right: unset;
        }
    }

}