@mixin containerStyle {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1213px;
}

@mixin containerStyle320 {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1213px;
}



@mixin fontHeader {
    font: {
        family: 'Montserrat';
        size: 36px;
        weight: 700;
    }
    line-height: 53px;
}

@mixin fontParagraph {
    font: {
        family: 'Montserrat';
        size: 16px;
        weight: 400;
    }
    line-height: 25px;
}

@mixin fontHeaderFooter {
    font: {
        family: 'Montserrat';
        size: 18px;
        weight: 600;
    }
    color: $colorBlack; 
}


@mixin fontItemFooter {
    font: {
        family: 'Montserrat';
        size: 14px;
        weight: 400;
    }
    color: rgba(153, 153, 153, 1);
}

