@import 'variables';
@import 'mixin';

.switch__state {
    display: none;
}

.section__standarts {
    background-color: rgba(246, 246, 248, 1);
    padding-bottom: 153px;
}

.container.section-standarts__container {
    padding-top: 100px;

}

.standarts-wrapper {
    display: grid;
    grid-gap: 112px;
    grid-template-columns: minmax(244px,489px) 515px;
    justify-content: center;
    padding-bottom: 85px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.wrapper-left {
    padding-top: 52px;
}

.wrapper-right {
    margin-top: -5px;
    width: 515px;
    height: 410px;
    background-image: url(./images/standarts.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-standarts__title {
    margin-bottom: 23px;
    @include fontHeader;
    max-width: 425px;
}

.section-standarts__info {
    margin-bottom: 25px;
    @include fontParagraph;
    max-width: 489px;
    color: $colorGrey;
}

.section-standarts__link {
    border-bottom: 1px solid $colorBtn;
    color: $colorBtn
}

.section-standarts__link {
    transition: transform, color, background-color;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.section-standarts__link:hover {
    color: $colorBtnHover;
    border-bottom: 1px solid $colorBtnHover;
}

.section-standarts__link:focus {
    color: $colorBtnFocus;
    border-bottom: 1px solid $colorBtnFocus;
}

.section-standarts__link:active {
    color: $colorBtnActive;
    border-bottom: 1px solid $colorBtnActive;
}


.container-cards {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.firstline-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}

.firstline-img {
    background-image: url(./images/web.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 30px;
    height: 30px;
    margin-right: 17px;
}

.firstline-number {
    margin-top: -3px;
    font: {
        family: 'Montserrat';
        size: 36px;
        weight: 400;
    }
}

.secondline-wrapper {
    font: {
        family: 'Montserrat';
        size: 16px;
        weight: 400;
    }
    color: rgba(153, 153, 153, 1)
}

@media (max-width:1149px) {
    .standarts-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container.section-standarts__container {
        padding-top: 50px;
    }
}

@media (max-width:989px) {
    
    .container-cards {
        grid-template-columns: repeat(3,1fr);
        row-gap: 50px;
        padding-bottom: 50px;
}
    .event-info-hide {
        display: none;
    }
    .switch__state {
        display: block;
        margin: 0 auto;
        padding: 13px 48px 14px 34px;
        background-color: #4985ff;
        font: {
            family: 'Montserrat';
            size: 16px;
            weight: 500;
        }
        color: $colorWhite;
        border: transparent;
        border-radius: 21px;
    }

    .hide-card {
        display: block;
    }

    .event-opacity {
        opacity: 0;
        transition: opacity 0.3s ease-in-out
    }
    
    .opacity-card {
        opacity: 1;
    } 
}

@media (max-width:869px) {
    .section-standarts__title {
        font-size: 28px
    }
    .wrapper-left {
        padding-top: 25px;
    }
}


@media (max-width:590px) {
    .wrapper-right {
       width: 320px;
       height: 250px;
    }

    .section-standarts__title {
        font-size: 22px;
        text-align: center;
    }

    .container-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



