$colorBlack: #202020;
$colorWhite: #FFFFFF;
$colorBtn: rgba(73, 133, 255, 1);
$colorBtnHover: rgb(112, 73, 255);
$colorBtnFocus: rgb(85, 73, 255);
$colorBtnActive: rgb(73, 203, 255);
$colorGrey: rgba(153, 153, 153, 1);
$colorStroke: #999999;