$colorBlack: #202020;
$colorWhite: #FFFFFF;
$colorOrange: #FF6E30;
$colorSilver: #cacaca;
$colorTundora: #4A4A4A;
$colorMineShaft: #333333;
$colorDustyGrey: #999999;
$colorDoveGrey: #666666;
$colorMercury: #E9E9E9;
$colorTuscany: #BC572B;
$colorGrenadier: #CE4307;
$colorEror:#FF3030;
$headerGap: 79px;
$headerGap768: 72px;
$headerGap1024: 33px;
$headerSocialGap: 19px;
$headerFooterGap: 19px;
$gridGap: 30px;
$gridGapRow1024: 30px;
$paragraphGap: 68px;


$colorBtn: rgba(73, 133, 255, 1);
$colorGrey: rgba(153, 153, 153, 1)