.section__contacts {
    display: flex;
    flex: 1;
  }


.section-contacts__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
}


.companybank__data {
    font: {
        size: 18px;
        weight: 600;
    }
}

.bankdata__line {
    font: {
        family: 'TTFirsNeue';
        size: 16px;
        weight: 400;
    }
}

.bankdata__title {
    font-weight: 600;
}

.bankdata {
    margin-bottom: 22px
}

.contacts-mail__mail {
    fill: $colorSilver;
}

.contacts-mail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 185px;
    font : {
        family: 'TTFirsNeue';
        size: 18px;
    }

    cursor: pointer;
}
.contacts-mail__text {
    padding-right: 5px;
}
.contacts-mail:hover {
    color: $colorBlue;
}
.contacts-mail:hover > .contacts-mail__mail {
   fill: $colorBlue;
}

.contacts-mail:focus {
    color: $colorBlue;
}
.contacts-mail:focus > .contacts-mail__mail {
   fill: $colorBlue;
}

@media(max-width:1050px) {
.contacts-mail {
    font-size: 14px;
}
.bankdata__line {
        font-size: 14px;
}
}

@media(max-width:683px) {
.contacts-mail {
    justify-content: center;
    max-width: unset;
}

.bankdata {
        text-align: center;
}
    
.companybank__data {
    font: {
        size: 16px;
        weight: 400;
    }
}

.section__contacts {
    padding-top: 60px;
}

.section-contacts__container {
    display: unset;
    flex: unset;
    flex-direction: unset;
    justify-content: unset;
}
}



  

