@import 'variables';
@import 'mixin';


.section-footer {
    background-color: $colorBlack;
    color: $colorWhite;
}

.section-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-logo {
    font-size: 14px;
}

@media (max-width:683px) {
    .footer-logo {
        font-size: 10px;
    }
}