@import 'variables';
.sub__nav,
.header__burger,
.nonvisible,
.btn__call-header {
    display: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.4px 6px 0 6px;
    border-color: $colorBlue transparent transparent transparent;
}

.change-lang {
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid $colorBlue;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    padding: 5px 30px 5px 10px;
    cursor: pointer;
}

.change-lang:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px $colorBlue, 0px 0px 10px $colorBlue;
}

.change-lang::-ms-expand {
    display: none;
}

.close-header {
    position: relative;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: $colorBlue;
    border-radius: 50%;
}

.close-header:before,
.close-header:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 4px;
    width: 13px;
    height: 2px;
    background: $colorWhite;
}

.close-header:before {
    transform: rotate(45deg);
}

.close-header:after {
    transform: rotate(-45deg);
}

.find__moreinfo {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    border-bottom: 1px solid $colorMercury;
    color: $colorWhite;
    &:hover {
        border-bottom: 1px solid $colorBlue;
    }
    &:focus {
        border-bottom: 1px solid $colorTuscany;
    }
    &:active {
        border-bottom: 1px solid $colorGrenadier;
    }
}

.find__moreinfo::placeholder {
    color: $colorWhite;
    background-color: $colorBlack;
}

.ifind.find__moreinfo:-webkit-input-placeholder {
    color: $colorWhite;
    background-color: $colorBlack;
}

.find__moreinfo::-webkit-input-placeholder {
    color: $colorWhite;
    background-color: $colorBlack;
}

.section-header {
    padding: 21px 0 20px;
    background-color: $colorBlack;
    color: $colorWhite;
}

.section-header__container,
.section-header__list,
.section-header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-header__list-social {
    display: flex;
    flex-direction: row;
}

.section-header__main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Muller' ;
    font-weight: 400;
}

.section-header__link {
    font: {
        family: 'TTFirsNeue';
        size: 16px;
        weight: 400;
    }
}

.section-header__item:not(:last-of-type) {
    margin-right: $headerGap;
}

.search {
    display: none;
}

.section-header__item-social:not(:last-child) {
    margin-right: $headerSocialGap;
}

.section-header__item-social {
    margin-top: 5px;
}

.social-header {
    fill: #cacaca
}

.section-header__item,
.social-header {
    transition: transform, color, background-color;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.section-header__item:hover {
    color: $colorBlue;
    transform: translateY(2px);
}

.section-header__link {
    &:focus {
        color: $colorWhite;
        background-color: $colorTuscany;
    }
    &:active {
        color: $colorGrenadier;
        background-color: transparent;
    }
}

.social-header:hover {
    fill: $colorBlue;
    transform: translateY(2px);
}

.social-header:active {
    fill: $colorGrenadier;
}

.section-header__btn-social:focus .section-header__link-social .social-header {
    fill: $colorTuscany;
}

@media (max-width:1315px) {
    .find__block {
        top: 75px;
        left: 345px;
        height: 20px;
    }
    .find__moreinfo {
        width: 550px;
        margin-right: 8px;
    }
    .section-header {
        padding: 27px 0 25px;
    }
    .section-header__main-logo {
        margin-right: 82px;
    }
    .section-header__item:not(:last-child) {
        margin-right: $headerGap1024;
    }
    .section-header__item:nth-child(5) {
        margin-right: 0px;
    }
    .section-header__list-social {
        display: none;
    }
    .search {
        display: block;
        @include img;
        background-image: url(./images/search.png);
        background-color: $colorBlack;
        width: 25px;
        height: 25px;
    }
    .nowrap {
        white-space: nowrap;
    }
}

@media (max-width:980px) {
    .find__moreinfo {
        width: 450px;
    }
}

@media (max-width:890px) {
    .find__block {
        top: 50px;
        left: 385px;
        height: 20px;
    }
    .find__moreinfo {
        width: 310px;
        margin-right: 8px;
    }
    .find__moreinfo::placeholder {
        font-size: 16px;
    }
    .ifind.find__moreinfo:-webkit-input-placeholder {
        font-size: 16px;
    }
    .find__moreinfo::-webkit-input-placeholder {
        font-size: 16px;
    }
    .section-header {
        margin-bottom: 0px;
    }
    .section-header__main-logo {
        margin-right: auto;
    }
    .section-header__container {
        position: relative;
    }
    .section-header__nav {
        top: 65px;
        position: absolute;
    }
    .sub__nav {
        margin-bottom: 36px;
        height: 45px;
        display: block;
        background-color: $colorTundora;
    }
    .section-header__item:not(:last-child) {
        margin-right: $headerGap768;
    }
    .section-header__item:nth-child(5) {
        margin-right: 0px;
    }
}

@media (max-width:725px) {
    .section-header__item:not(:last-child) {
        margin-right: 50px;
    }
    .section-header__item:nth-child(5) {
        margin-right: 0px;
    }
}

@media (max-width:683px) {
    .btn__call-header {
        display: block;
    }
    .section-header {
        position: relative;
        height: 72px;
    }
    .section-header__item {
        margin-right: 0px;
    }
    .section-header__item:not(:last-child) {
        margin-bottom: 32.3px;
    }
    .search {
        width: 20px;
        height: 20px;
    }
    .section-header__nav {
        display: none;
        opacity: 0;
        top: 45px;
        padding-left: 19px;
        padding-top: 48px;
        position: absolute;
        margin-left: -50vw;
        left: 50%;
        margin-right: -50vw;
        right: 50%;
        z-index: 3;
        background-color: $colorBlack;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: opacity 1s ease;
    }
    .section-header__nav.is-active {
        display: block;
    }
    .opacity__menu {
        opacity: 1;
    }
    .section-header__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .section-header__item:nth-child(5) {
        margin-bottom: 212px;
    }
    .sub__nav {
        margin-bottom: 32px;
        padding-top: 12px;
        padding-left: 11px;
        height: 42px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 20px;
        height: 18px;
        z-index: 5;
    }
    .header__burger::before {
        content: '';
        position: absolute;
        top: 1px;
        height: 2px;
        width: 100%;
        background: $colorWhite;
    }
    .header__burger-body {
        position: absolute;
        height: 2px;
        width: 100%;
        background: $colorWhite;
    }
    .header__burger::after {
        content: '';
        position: absolute;
        bottom: -1px;
        height: 2px;
        width: 50%;
        background: $colorWhite;
    }
    // open menu
    .header__burger.open-menu::after {
        content: "";
        position: absolute;
        transform: rotate(-42deg);
        top: 8px;
        width: 13px;
        height: 2px;
        transition: 0.4s;
        z-index: 2;
    }
    .header__burger.open-menu::before {
        content: "";
        position: absolute;
        transform: rotate(42deg);
        top: 8px;
        width: 13px;
        height: 2px;
        transition: 0.4s;
        z-index: 2;
    }
    .header__burger.open-menu .header__burger-body {
        content: "";
        position: absolute;
        top: 0;
        left: 7px;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: $colorGrey;
    }
    .find__block {
        top: 0px;
        left: 0px
    }
    .find__moreinfo {
        width: 250px;
        margin-right: 8px;
    }
    .close-header {
        background-color: #666;
    }
    .find__moreinfo::placeholder {
        font-size: 14px;
    }
    .ifind.find__moreinfo:-webkit-input-placeholder {
        font-size: 14px;
    }
    .find__moreinfo::-webkit-input-placeholder {
        font-size: 14px;
    }
    .section-header__main-logo.nonvisible320,
    .search.nonvisible320 {
        display: none;
    }
}