@import 'variables';

.wrapper-switch {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header__burger {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 4px;
    margin-right: 4px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colorBlue2;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: $colorBlack;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $colorBlue2;
}

input:checked + .slider:before {
    transform: translate(26px);
}

.section-header {
    padding: 21px 0 20px;
    background-color: $colorBlack;
    color: $colorWhite;
    position: sticky;
    z-index: 12;
    top: 0px
}

.section-header__container,
.section-header__list,
.section-header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.section-header__main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Muller' ;
    font-weight: 400;
}

.title-logo {
    font-size: 18px;
}

.section-header__link {
    font: {
        family: 'TTFirsNeue';
        size: 16px;
        weight: 400;
    }
}

.section-header__item:not(:last-of-type) {
    margin-right: $headerGap;
}


.section-header__item {
    transition: transform, color, background-color;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.section-header__item:hover {
    color: $colorBlue;
    transform: translateY(2px);
}

.section-header__link {
    &:focus {
        color: $colorWhite;
        background-color: $colorBlue;
    }
    &:active {
        color: $colorBlue;
        background-color: transparent;
    }
}

@media (max-width:1315px) {
    .section-header__main-logo {
        margin-right: 82px;
    }
    .section-header__item:not(:last-child) {
        margin-right: $headerGap1024;
    }
}

@media(max-width:1050px) {

    .wrapper-switch {
        font-size: 12px;
    }
    .section-header__container {
        flex-direction: row-reverse;
    }
    .section-header__main-logo {
        margin-right: 0px;
    }
    .section-header__link {
        font: {
            size: 14px;
            weight: 300;
        }
    }
    .title-logo {
        font-size: 16px;
    }
}


@media (max-width:890px) {
   
    .section-header {
        padding-top: 5px;
        padding-bottom: 36px;
    }
  
    .section-header__container {
        position: relative;
        flex-direction: row;
    }
    
    .section-header__nav {
        position: absolute;
        top: 45px;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        white-space: nowrap;
    }
    .section-header__item:not(:last-child) {
        margin-right: $headerGap768;
    }
}

@media (max-width:725px) {
    .section-header__item:not(:last-child) {
        margin-right: 50px;
    }
}

@media (max-width:683px) {

    .section-header__item {
        margin-right: 0px;
        width: 100%;
    }
    .section-header__item:not(:last-child) {
        margin-bottom: 32.3px;
        margin-right: 0px;
    }

    .section-header__link {
        display: block;
    }
    
    .section-header__nav {
        display: none;
        opacity: 0;
        top: 45px;
        padding-left: 19px;
        padding-top: 48px;
        position: absolute;
        margin-left: -50vw;
        left: 50%;
        margin-right: -50vw;
        right: 50%;
        z-index: 3;
        background-color: $colorBlack;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: opacity 1s ease;
        transform: none;
        z-index: 15;
    }
    .section-header__nav.is-active {
        display: block;
    }
    .opacity__menu {
        opacity: 1;
    }
    .section-header__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 20px;
        height: 18px;
        z-index: 5;
    }
    .header__burger::before {
        content: '';
        position: absolute;
        top: 1px;
        height: 2px;
        width: 100%;
        background: $colorWhite;
        left: 0;
        transition: 0.4s;
    }
    .header__burger-body {
        position: absolute;
        height: 2px;
        width: 100%;
        background: $colorWhite;
        left: 0;
        transition: 0.4s;
    }
    .header__burger::after {
        content: '';
        position: absolute;
        bottom: -1px;
        height: 2px;
        width: 50%;
        background: $colorWhite;
        left: 0;
        transition: 0.4s;
    }

    // open menu

    .header__burger.open-menu::after {
        content: "";
        position: absolute;
        transform: rotate(-45deg);
        top: 8px;
        width: 19px;
        height: 2px;
        transition: 0.4s;
        z-index: 2;
    }
    .header__burger.open-menu::before {
        content: "";
        position: absolute;
        transform: rotate(45deg);
        top: 8px;
        width: 19px;
        height: 2px;
        transition: 0.4s;
        z-index: 2;
    }
    .header__burger.open-menu .header__burger-body {
        display: none;
    }

    .header__burger.burgeranim::after {
        transition: 0.4s;
    }
    .header__burger.burgeranim::before {
        transition: 0.4s;
    }
    .header__burger.burgeranim .header__burger-body {
        transition: 0.4s;
    }
}

@media(max-width:475px) {
    .title-logo {
        font-size: 13px;
    }

    .switch {
        width: 30px;
        height: 20px;
    }

    .wrapper-switch {
        font-size: 11px;
    }

    .slider:before {
        height: 13px;
        width: 13px;
        left: 2px;
    }

    input:checked + .slider:before {
        transform: translate(12px);
    }
}