$colorBlack: #202020;
$colorWhite: #FFFFFF;
$colorBlue: #9370db;
$colorBlue2: #aa94d6;
$colorSilver: #cacaca;
$colorTundora: #4A4A4A;
$colorMineShaft: #333333;
$colorDoveGrey: #666666;
$colorGrey: #808080;
$colorMercury: #E9E9E9;
$colorTuscany: #BC572B;
$colorGrenadier: #CE4307;
$colorEror:#FF3030;
$sectionTopGap: 50px;
$headerGap: 79px;
$headerGap768: 72px;
$headerGap1024: 33px;
$headerSocialGap: 19px;
$headerFooterGap: 19px;
$gridGap: 30px;
$gridGapRow1024: 30px;
$paragraphGap: 68px;